{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="row row-eq-height">
        <div class="col-12 text-center">
            <h3 class="mb-3 mt-5">Категории</h3>
        </div>
        <div class="w-100"></div>
        {% for category in categories %}
            <div class="col-6 col-sm-3 mb-3">
                <a href="/categories/{{ category.id }}">
                    <div class="card text-white bg-info" style="height:100%;">
                        <div class="card-header">
                            <p class="text-center font-weight-bold">{{ category.name }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
