{% extends "admin/main.html" %}

{% block title %}Admin panel - Продукты{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/admin">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/admin/products">Продукты</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создание нового продукта</li>
    </ol>
</nav>
<h3 class="text-center mb-2">Заполните форму</h3>
<form action="/admin/products/store" method="post">
    <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Введите название">
        <small id="nameHelp" class="form-text text-muted">Название должно содержать минимум 2 два символа</small>
    </div>

    <div class="form-group">
        <label for="categoryid">Категория</label>
        <select class="form-control" id="categoryid" name="categoryid">
            <option value="13">Ноутбуки</option>
            <option value="14">Планшеты</option>
            <option value="15">Мониторы</option>
            <option value="16">Игровые Компьютеры</option>
        </select>
    </div>

    <div class="form-group">
        <label for="code">Код</label>
        <input type="text" class="form-control" name="code" id="code" aria-describedby="codeHelp" placeholder="Введите код товара">
        <small id="codeHelp" class="form-text text-muted">Код должен содержать минимум 2 два символа</small>
    </div>

    <div class="form-group">
        <label for="price">Цена</label>
        <input type="text" class="form-control" name="price" id="price" aria-describedby="priceHelp" placeholder="Введите цену товара">
        <small id="priceHelp" class="form-text text-muted">Цена должна содержать минимум 2 два символа</small>
    </div>

    <div class="form-group">
        <label for="availability">Наличие</label>
        <select class="form-control" id="availability" name="availability">
            <option value="0">Нет в наличии</option>
            <option value="1">Есть</option>
        </select>
    </div>

    <div class="form-group">
        <label for="brand">Бренд</label>
        <input type="text" class="form-control" name="brand" id="brand" aria-describedby="brandHelp" placeholder="Введите бренд товара">
        <small id="brandHelp" class="form-text text-muted">Бренд должен содержать минимум 2 два символа</small>
    </div>

    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp" placeholder="Введите описание товара">
        <small id="descriptionHelp" class="form-text text-muted">Описание должно содержать минимум 2 два символа</small>
    </div>

    <div class="form-group">
        <label for="isnew">Новый</label>
        <select class="form-control" id="isnew" name="isnew">
            <option value="0">Не новый</option>
            <option value="1">Новый</option>
        </select>
    </div>

    <div class="form-group">
        <label for="isrecommended">Рекомендованный</label>
        <select class="form-control" id="isrecommended" name="isrecommended">
            <option value="0">Не рекомендованный</option>
            <option value="1">Рекомендованный</option>
        </select>
    </div>

    <div class="form-group">
        <label for="status">Статус</label>
        <select class="form-control" id="status" name="status">
            <option value="0">Неактивен</option>
            <option value="1">Активен</option>
        </select>
    </div>



    <button type="submit" class="btn btn-primary">Создать</button>
</form>

{% endblock %}