{% extends "admin/main.html" %}

{% block title %}Admin panel - Продукты{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/admin">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/admin/products">Продукты</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
    </ol>
</nav>
<h3 class="text-center mb-2">Заполните форму</h3>
<form action="/admin/products/store" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="{{ product.id }}">
        <label for="name">Название</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" value="{{ product.name }}">
        <small id="nameHelp" class="form-text text-muted">Название должно содержать минимум 3 символа</small>
    </div>









    <div class="form-group">
        <label for="categoryid">Категория</label>
        <select class="form-control" id="categoryid" name="categoryid" >
            <option {{ product.categoryid == 13 ? 'selected' : '' }} value="13">Ноутбуки</option>
            <option {{ product.categoryid == 14 ? 'selected' : '' }} value="14">Планшеты</option>
            <option {{ product.categoryid == 15 ? 'selected' : '' }} value="15">Мониторы</option>
            <option {{ product.categoryid == 16 ? 'selected' : '' }} value="16">Игровые Компьютеры</option>
        </select>
    </div>

    <div class="form-group">
        <label for="code">Код</label>
        <input type="text" class="form-control" name="code" id="code" aria-describedby="codeHelp" value="{{ product.code }}">
        <small id="codeHelp" class="form-text text-muted">Код должен содержать минимум 3 символа</small>
    </div>

    <div class="form-group">
        <label for="price">Цена</label>
        <input type="text" class="form-control" name="price" id="price" aria-describedby="priceHelp" value="{{ product.price }}">
        <small id="priceHelp" class="form-text text-muted">Цена должна содержать минимум 3 символа</small>
    </div>

    <div class="form-group">
        <label for="availability">Наличие</label>
        <select class="form-control" id="availability" name="availability">
            <option {{ product.availability == 0 ? 'selected' : '' }} value="0">Нет в наличии</option>
            <option {{ product.availability == 1 ? 'selected' : '' }} value="1">Есть</option>
        </select>
    </div>

    <div class="form-group">
        <label for="brand">Бренд</label>
        <input type="text" class="form-control" name="brand" id="brand" aria-describedby="brandHelp" value="{{ product.brand }}">
        <small id="brandHelp" class="form-text text-muted">Бренд должен содержать минимум 3 символа</small>
    </div>

    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp" value="{{ product.description }}">
        <small id="descriptionHelp" class="form-text text-muted">Описание должно содержать минимум 3 символа</small>
    </div>

    <div class="form-group">
        <label for="isnew">Новый</label>
        <select class="form-control" id="isnew" name="isnew">
            <option {{ product.isnew == 0 ? 'selected' : '' }} value="0">Не новый</option>
            <option {{ product.isnew == 1 ? 'selected' : '' }} value="1">Новый</option>
        </select>
    </div>

    <div class="form-group">
        <label for="isrecommended">Рекомендованный</label>
        <select class="form-control" id="isrecommended" name="isrecommended">
            <option {{ product.isrecommended == 0 ? 'selected' : '' }} value="0">Не рекомендованный</option>
            <option {{ product.isrecommended == 1 ? 'selected' : '' }} value="1">Рекомендованный</option>
        </select>
    </div>













    <div class="form-group">
        <label for="status">Статус</label>
        <select class="form-control" id="status" name="status">
            <option {{ product.status == 0 ? 'selected' : '' }} value="0">Неактивна</option>
            <option {{ product.status == 1 ? 'selected' : '' }} value="1">Активна</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}